/* poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

/* main styles */
body{
    background-image: url('./assets/background.jpg');
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    Z-index: -1;
    background-color: #364E60;
    /* height: 100% !important; */
    /* width: 100%; */
    color:white;
}

.bg-color{
    background-color: #364E60 ;   
}

h1, p, a, h2{
    color:white !important; 
    font-family: 'Poppins' sans-serif;

}
.row{
    padding-bottom: 150px;
}
h3{
    padding:30px;
    list-style: none;
}


/* Phone */
@media screen and (max-width: 768px)
{
    h1{
            font-size: 50px;
            padding-bottom: 20px;
        }
        h2{
            font-size: 15px !important; 
            margin-left: 10px;
        }
        p{            
        font-size: 15px;
        }
        a{
            margin-left: 10px;
            font-size: 15px !important;
            padding-left: 0px;
        }  
}

/* tablet */
@media screen and (min-width: 768px){
    /*  */
    h1{
        font-size: 100px;
        padding-bottom: 70px;
    }
    h2{
        font-size: 30px !important; 
        margin-left: 20px;
    }
    p{
        font-size: 30px;
    }
    a{
        margin-left: 30px;
        font-size: 30px !important;
    }
    
}
/* full page */
@media screen and (min-width: 1680px){
    /*  */
    h1{
        font-size: 150px;
        padding-bottom: 70px;
    }
    h2{
        font-size: 45px !important; 
        margin-left: 30px;
    }
    p{
        font-size: 30px;
    }
    a{
        margin-left: 50px;
        font-size: 40px !important;
    }    
}