/* body{
    background: black;
} */
@media screen and (max-width: 768px)
{
    figure {
        /* background-color: black; */
        background-image: url('./assets/background.jpg');
        /* background-image: url('./assets/background.jpg'); */
        background-size: cover;
        background-position-x: center;
        position: relative;
        height: 900px;
        z-index: -1;
        width: 100%;
        padding-bottom: 0px;
        margin-bottom: 0%;
    
    }
    .bg-color{
        background-color: #364E60 ;
       
    }
    /*  */
    h1, p{
        color:white;
        /* margin-left: 60px; */
    
    }
    h1{
        font-size: 50px;
        padding-bottom: 20px;
    }
    h2{
        font-size: 20px !important; 
        color:white !important;
        margin-left: 10px;
    }
    p{
        font-size: 15px;

    }
    a{
        color:white !important;
        margin-left: 10px;
        font-size: 15px !important;
        padding-left: 0px;

    }
    
}


@media screen and (min-width: 768px){
    figure {

        background-image: url('./assets/background.jpg');
        background-size: contain;
        position: relative;
        height: 1080px;
        z-index: -1;
        width: 100%;
        padding-bottom: 0px;
        margin-bottom: 0%;
    
    }
    .bg-color{
        background-color: #364E60 ;
       
    }
    /*  */
    h1, p{
        color:white;
        /* margin-left: 60px; */
    
    }
    h1{
        font-size: 300px;
        padding-bottom: 70px;
    }
    h2{
        font-size: 45px !important; 
        color:white !important;
        margin-left: 30px;
    }
    p{
        font-size: 30px;
    }
    a{
        color:white !important;
        margin-left: 50px;
        font-size: 40px !important;
    }
    
}