/* body{
    background: black;
} */



figure {

    background-image: url('./assets/background.jpg');
    background-size: cover;
    height: 2000px;
    z-index: -1;
    width: 100%;
    padding-bottom: 0px;
    margin-bottom: 0%;

}
.bg-color{
    background-color: #364E60 ;
   
}
img{
    z-index: 1;
}
h1, p{
    color:white;
    margin-left: 60px;

}
h1{
    font-size: 300px;
    padding-bottom: 70px;
}
h2{
    font-size: 45px !important; 
    color:white !important;
}
p{
    font-size: 30px;
}


a{
    color:white !important;
    padding: 20px !important;
    margin-left: 40px;
    font-size: 40px !important;
}
footer{
    padding-top: 0px;
    margin-top: 0%;
}
